body {
    background-color: #fff;
    color: #232323;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    font-size: .85em;
}

header,
footer,
nav,
section { display: block; }

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    margin: 0 0 1.5em 0;
    padding: 0 1.4em 1.4em 1.4em;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea { min-height: 75px; }

.editor-label { margin: 1em 0 0 0; }

.editor-field { margin: 0.5em 0 0 0; }


/* Styles for validation helpers
-----------------------------------------------------------*/

.field-validation-error { color: #ff0000; }

.field-validation-valid { display: none; }

.input-validation-error {
    background-color: #ffeeee;
    border: 1px solid #ff0000;
}

.validation-summary-errors {
    color: #ff0000;
    font-weight: bold;
}

.validation-summary-valid { display: none; }