@model BoxApi.V2.Samples.WebAuthentication.MVC.Models.ErrorModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
    </head>
    <body>
        <h2>
            Sorry, an error occurred while processing your request.
        </h2>
        
        <p>Message: @Model.Message</p>
        <p>Description: @Model.Description</p>
        <p>State: @Model.State</p>
    </body>
</html>