@model BoxApi.V2.Authentication.OAuth2.OAuthToken

@{
    ViewBag.Title = "Authorization Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Authorization Complete</h2>

<p>Your authorization token is: <strong>@Model.AccessToken</strong></p>
<p>Your refresh token is: <strong>@Model.RefreshToken</strong></p>

<h3>Want to run the unit tets?</h3>

<p>You can use this token for unit testing.  @Html.ActionLink("Save the token", "Save") and copy the resulting <strong>test_info.json</strong> file into the root of the BoxApi.V2.Tests folder, alongside the <em>.csproj</em> file.  (The file is already .gitignored so it's won't be checked in.)</p>


