@model BoxApi.V2.Model.BoxAuthToken

@{
    ViewBag.Title = "Authorization Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Authorization Complete</h2>

<p>Your authorization token is: <strong>@Model.AuthToken</strong></p>

<p>You can use these credentials to run the unit tests.  @Html.ActionLink("Save the credentials", "Save") and copy the resulting <strong>test_info.json</strong> file into the root of the BoxApi.V2.Tests folder, alongside the <em>.csproj</em> file.  (That test_info.json file is already .gitignored -- we're not up to any funny stuff!)</p>


