@{
    ViewBag.Title = "Authorization Flow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Authorization Flow</h2>

<p>This site demonstrates how to get an authorization token for a user with your Client ID and Client Secret. These can found on the <em>Edit a Box Application</em> page for your app.</p>

<p>If you are brand new to OAuth2 or Box, please consider reviewing Box's <a href="http://developers.box.com/oauth/">authentication primer</a>.</p>

<p>The first step is to enter your Client ID and Client Secret.  The site will then generate a ticket and redirect you to Box, where you will enter your credentials.  
    You will then be redirected back to this site with your authorization token in the query string, which will be parsed out and presented to you.</p>

<div style="margin: 2em 0em;">
    @using (Html.BeginForm("InitiateAuthorization", "Home", FormMethod.Post))
    {
        <label for="clientId" style="margin-right:10px">Your Client ID:</label><input type="text" name="clientId" id="clientId" style="width: 300px"/><br />
        <label for="clientSecret" style="margin-right:10px">Your Client Secret:</label><input type="text" name="clientSecret" id="clientSecret" style="width: 300px"/>
        <input type="submit" value="Authorize Me"/>
    }
</div>